.title {
  font-size: 100px;
  width: 760px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  color: #FFFFFF;
  font-weight: bold;
  padding-top: 65px;
  margin: 0 auto 3.75rem;

  &__weather {
    align-self: flex-start;
    line-height: 1;
  }
  &__forecast {
    align-self: flex-end;
    line-height: 1;
  }
}